.heading {
    border-left: 6px solid #006644;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    color: #006644;
    margin-bottom: 1.5rem;
}

.newsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.newsItem {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}

.newsDate {
    font-size: 0.9rem;
    color: #666;
}

.newsTitle {
    font-size: 1.2rem;
    display: block;
    padding-left: 0.5rem;
    color: #006644;
}

@media (max-width: 600px) {
    .newsDate {
        font-size: 0.7rem;
        color: #666;
        padding-right: 7px;
    }
    .newsTitle {
        font-size: 1rem;
        color: #006644;
    }
}
