.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
    background: #fff;
}

.heading {
    border-left: 6px solid #006644;
    padding-left: 0.5rem;
    font-size: 1.4rem;
    color: #006644;
    margin-bottom: 1.5rem;
}

.bold {
    font-weight: bold;
    color: #444;
}

.pageItem {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}

.pageLink {
    text-decoration: none;
    color: #006644;
    font-size: 1.1rem;
}

.link {
    text-decoration: none;
    color: mediumblue;
}
.link:hover {
    text-decoration: underline;
}

.pageDescription {
    display: block;
    font-size: 0.85rem;
    color: #777;
    margin-top: 0.3rem;
}

@media (max-width: 600px) {
    .heading {
        font-size: 1.2rem;
    }
    .content {
        font-size: 0.87rem;
    }
    .pageLink {
        font-size: 1rem;
    }
    .pageDescription {
        font-size: 0.7rem;
    }
}
