.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
    background: #fff;
}

.newsDate {
    font-size: 0.9rem;
    color: #666;
    padding-right: 10px;
}

.heading {
    border-left: 6px solid #006644;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    color: #006644;
    margin-bottom: 1.5rem;
}

.thumbnailWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3; /* アスペクト比を指定 */
    overflow: hidden; /* トリミング */
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.thumbnail {
    object-fit: cover; /* トリミング */
    object-position: center;
}

@media (max-width: 600px) {
    .newsDate {
        font-size: 0.8rem;
    }
    .heading {
        font-size: 1.1rem;
    }
    .content {
        font-size: 0.87rem;
    }
}
